
/* El elemento cuyo id es otra */
#otra {
      	background-color: gray;
}

/* Las secciones de la clase post */
section.post {
      	background-color: lightgray;
}


/* Todos los elementos h2 que sean hijos directos de main*/
main > h2 {
      	color: red;
}


/* Todos los elementos h2 que desciendan de una sección  de la clase posts*/
.posts h2 {
      	color: blue;
}

/* Cuando se pasa el ratón por encima de cualquier h2 */
h2:hover {
	color: pink;
}